<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('banner.png') %>);">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>

<div class="buttons d-flex float-left pl-200">
  <div class="button ml-100">
    <%= link_to 'Back to my lists', lists_path, class: "btn btn-ghost" %>
  </div>
  <div class="button ml-100">
    <%= link_to 'Add a movie', new_list_bookmark_path(@list), class: "btn btn-gradient" %>
  </div>
</div>

<br><br>

<% @list.bookmarks.each do |bookmark| %>
  <strong><%= bookmark.movie.title %></strong> |
  <%= bookmark.comment %>
  <%= link_to "  Delete", bookmark_path(bookmark), method: :delete, data: {confirm: "Are you sure?"} %><br>
<% end %>
